@use "../../style/abstract/shared"as *;



.header {
    @include margin ($l-space, $l-space);
    @include flex(column, start, start);
    width: 50%;
    justify-self: center;
    gap: $s-space;

    &__search {
        @include flex(row, start, start, $s-space);
        width: 100%;

        & input {
            @include border($primary, none, 2px, $s-space);
            width: 80%;
            padding: .6rem;
        }

        & button {
            @include padding(.6rem, .6rem, 1.6rem, 1.6rem);
            @include border($primary, $primary, 2px, $s-space, $white);
            text-transform: capitalize;
        }
    }

    &__filter {
        width: 100%;

        & select {
            @include border($primary, $secondary, 2px, $s-space, $white);
            color: $black;
            font-size: $s-space;
            width: 40%;
            padding: .6rem;

            @include tablette {
                width: 100%;
            }
        }
    }
}

.bookList {
    @include flex(column, center, center);
    width: 100%;
    height: auto;
}