@use "../../style/abstract/shared"as *;

.header nav {
    @include flex(row, space-around, start, 0);
    @include marge(0, 1rem);
    @include margin(0, 1rem);
    width: 100%;
    height: 5rem;
    background-color: $primary;
    box-shadow: 4px 4px 1rem $primary;


    & a {
        color: $white;
        font-size: 24px;

    }
}

.bookList {
    width: 100%;
    height: auto;
    @include flex(column, center, center)
}